@import url('/font/sabon/sabon.css');

@import url('/font/english111_vivace_btregular/english111_vivace_btregular.css');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
}
del {
  color: #333;
}
ins {
  background: #fff9c0;
  text-decoration: none;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin: 24px;
  margin-bottom: 1.714285714rem;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
small {
  font-size: smaller;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
  clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
  display: table;
  content: "";
}
body {
  background-color: #889684;
  color: #0c2f18;
  font-family: Arial;
  font-size: 11px;
}
body #page.site {
  width: 745px;
  margin: 23px auto;
  padding: 3px;
  background-color: #ffffff;
}
a,
a:visited,
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  font-family: Arial;
  font-size: 11px;
  color: #0c2f18;
  margin-bottom: 1.5em;
  line-height: 1.8em;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5em;
  margin-bottom: 0.4em;
}
header.site-header {
  position: relative;
}
header.site-header a.logo {
  display: inline-block;
  float: left;
  font-size: 0;
}
header.site-header .top-tree {
  position: absolute;
  height: 114px;
  top: 0;
  right: 0;
  left: 201px;
  background-color: #ddded4;
  background-image: url('../img/top-tree.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
header.site-header nav.main-navigation {
  float: left;
  width: 100%;
  margin-top: 2px;
  background-color: #134343;
}
header.site-header nav.main-navigation ul {
  text-align: center;
}
header.site-header nav.main-navigation ul li {
  display: inline;
}
header.site-header nav.main-navigation ul li > a {
  display: inline-block;
  font-family: 'Sabon-Roman';
  font-size: 12px;
  color: #fff;
  padding: 6px 10px 8px;
}
header.site-header nav.main-navigation ul li:before {
  content: '|';
  font-family: 'Sabon-Roman';
  font-size: 12px;
  color: #fff;
}
header.site-header nav.main-navigation ul li:first-child:before {
  content: '';
}
.wrapper {
  position: relative;
  margin-top: 2px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMcAAAABCAIAAADl1i04AAAAEUlEQVQoU2M4d+HgKBpF1EUARy3X6YUhez0AAAAASUVORK5CYII=);
  background-position: 0 0;
  background-repeat: repeat-y;
}
.wrapper:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 199px;
  height: 395px;
  background-image: url('../img/sidebar-gate.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
.wrapper aside.site-sidebar {
  float: left;
  width: 171px;
  min-height: 20px;
  padding: 26px 14px 395px;
}
.wrapper aside.site-sidebar ul li {
  border-bottom: 1px solid #a0a296;
  text-align: center;
}
.wrapper aside.site-sidebar ul li > a {
  display: inline-block;
  width: 100%;
  font-family: 'Sabon-Roman';
  font-size: 14px;
  color: #51524c;
  padding: 8px 0;
}
.wrapper aside.site-sidebar ul li:first-child {
  border-top: 1px solid #a0a296;
}
.wrapper .site-content {
  float: right;
  width: 458px;
  min-height: 100px;
  padding: 31px 43px;
}
.wrapper .site-content .type-page .entry-header h1.entry-title {
  font-family: 'Sabon-Roman';
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #112e0a;
}
.wrapper .site-content .type-page .entry-header h1.entry-title:first-letter {
  font-family: 'english111_vivace_btregular';
  font-size: 56px;
  font-weight: 400;
  color: #112e0a;
}
.wrapper .site-content .type-page .entry-content p img.alignLeft {
  float: left;
  border: 1px solid #ced0c1;
  padding: 2px;
  margin: 0 1em 1em 0;
}
.wrapper .site-content .type-page .entry-content p img.alignRight {
  float: right;
  border: 1px solid #ced0c1;
  padding: 2px;
  margin: 0 0 1em 1em;
}
.wrapper .site-content .type-page .entry-content h4 {
  font-family: Georgia;
  font-size: 14px;
  font-weight: 400;
  color: #004868;
}
footer.site-footer {
  width: 100%;
  background-color: #134343;
}
footer.site-footer ul {
  text-align: center;
}
footer.site-footer ul li {
  display: inline;
}
footer.site-footer ul li > a {
  display: inline-block;
  font-family: Arial;
  font-size: 11px;
  color: #dedfd5;
  padding: 3px 12px;
}
footer.site-footer ul li:before {
  content: '|';
  font-family: 'Sabon-Roman';
  font-size: 11px;
  color: #dedfd5;
}
footer.site-footer ul li:first-child:before {
  content: '';
}
