
@font-face {
    font-family: 'English111VivaceBT-Regular';
    src: url('english111vivacebt3714.eot');
    src: url('english111vivacebt3714.eot?#iefix') format('embedded-opentype'),
         url('english111vivacebt3714.woff') format('woff'),
         url('english111vivacebt3714.ttf') format('truetype'),
         url('english111vivacebt3714.svg#english111vivacebt3714') format('svg');
    font-weight: normal;
    font-style: normal;
}